* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav {
  width: 80%;
  height: 80px;
  background: #fff;
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 30%;
}
.logo img {
  width: 100px;
  float: left;
}
.nav-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.nav-menu li {
  list-style: none;
  padding: 10px 15px;
  font-size: 20px;
  color: #1b203d;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-right {
  width: 30%;
  display: flex;
}
.nav-right li {
  list-style: none;
  margin: 0 15px;
  color: #1b203d;
  font-size: 25px;
  padding: 8px 20px;
  cursor: pointer;
}
.nav-right li:last-child {
  border: 2px solid;
  font-size: 20px;
  border-radius: 20px;
}
.cart {
  position: relative;
}
.cart:before {
  position: absolute;
  content: attr(data-count);
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 15px;
  top: -20px;
  text-align: center;
  background: red;
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.cart.on:before {
  opacity: 1;
}
