@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --border: #c4c4c4;
  --background: #fff;
  --white: #fff;
  --royal-blue: #4169e1;
  --dark-grey: #a9a9a9;
  --blue: #0000ff;
  --box-shadow: #0000001a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-blue);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

.nav__bar img {
  margin-top: 1rem;
}

.nav__bar,
.nav__items,
.nav__items ul {
  display: flex;
  align-items: center;
}

.nav__bar {
  background-color: #a9a9a9;
  justify-content: space-around;
  height: 100px;
}

.nav__items h2 {
  margin: 1rem 5rem 0.5rem 0;
  font-size: 3rem;
  letter-spacing: 1rem;
  color: var(--light-blue);
}

.nav__items ul li {
  list-style: none;
  margin: 1rem 1rem 0;
  font-size: 1.5rem;
  padding: 5px;
}

.nav__items ul li a {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.cart i {
  vertical-align: bottom;
  font-size: 15px;
  padding-right: 5px;
}
.cart a {
  color: var(--white);
  cursor: pointer;
  margin: 15px;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image {
  margin: 20px 20px;
  position: relative;
  overflow: hidden;
}
.add-cart {
  position: absolute;
  width: 100%;
  background-color: var(--dark-grey);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}
.products-container i {
  font-size: 15px;
  color: #1b203d;
  margin: 10px 10px;
  cursor: pointer;
}
.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}
.product-title {
  width: 45%;
}
.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.quantity {
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}
.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.product i {
  cursor: pointer;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 75px;
}
.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotal {
  width: 10%;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #090808;
  color: white;
}

footer p {
  margin-bottom: 1rem;
}

footer .footer__logo {
  margin-top: 3rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-top: 3rem;
}

footer .social__icon {
  margin-top: 3rem;
  font-size: 1.2rem;
}
