:root {
  line-height: 1.5;
  --primary-blue: #233975;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:hover {
  text-decoration: underline;
}

.thanks {
  background-color: #2c4893;
  margin: 2rem auto;
  padding: 1rem;
  color: #fff;
  text-align: center;
  width: 50vw;
  border-radius: 1rem;
  display: none;
}

.thanks.success {
  display: block;
}

.small {
  font-size: 80%;
  text-align: center;
}
.split-screen {
  display: flex;
  flex-direction: column;
}
.left {
  height: 200px;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('/img/game-pad.png');
  background-size: cover;
}
.left,
.copy {
  color: white;
  text-align: center;
}
.left p {
  font-weight: 400;
}
.right .copy {
  color: black;
  text-align: center;
}
.right .copy p {
  margin: 1.5rem 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}

form input[type='text'],
form input[type='email'],
form input[type='password'] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

form input[type='text'].error,
form input[type='email'].error,
form input[type='password'].error {
  border: 1px solid red;
}

form input[type='text'].success,
form input[type='email'].success,
form input[type='password'].success {
  border: 1px solid greenyellow;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  position: relative;
}

label img.icon__fullname,
label img.icon__email,
label img.icon__password {
  position: absolute;
  display: none;
  top: 1.8rem;
  left: 18.1rem;
}

label img.icon__fullname.error,
label img.icon__password.error,
label img.icon__email.error {
  display: flex;
}

small.small__fullname,
small.small__email,
small.small__password {
  display: none;
  color: red;
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  text-align: right;
}

small.small__fullname.error,
small.small__email.error,
small.small__password.error {
  display: flex;
}

.input-container {
  margin-top: 1rem;
}

.input-container.password {
  position: relative;
}
.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  position: relative;
  display: block;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
}
.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top: -4px;
  left: 0;
}
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}
.checkbox-container .checkmark::after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}
.signup-btn {
  display: block;
  width: 100%;
  background: var(--primary-blue);
  color: #fff;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.signup-btn:hover {
  background: #2c4893;
  cursor: pointer;
}

.back {
  background-color: #2c4893;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
}

.back a,
.thanks a {
  color: #fefe;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}
